:root{
    --main-color:#11d5c2;
    --section-padding:50px;
    --section-background: #f7f5f5;
}
*{
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    min-height: 60px;
} 

header { padding: 20px 0; }
header .logo { width: 60px; }
header .links { position: relative; }

header .links ul {
    list-style: none;
    display: flex;
}

header .links ul li a {
    text-decoration: none;
    padding: 0 15px;
    color: #777;
}
header .links .icon { display: none; }

@media (max-width: 767px) {
    header .links ul {
        display: none; 
        position: absolute;
        right: 0;
        top: calc(100% + 20px);
        background-color: #f6f6f6;
        min-width: 200px;
        flex-direction: column; 
        z-index: 1;
    }
    header .links .icon {
        display: flex;
        width: 30px;
        flex-wrap: wrap;
        justify-content: flex-end;
        cursor: pointer;
    }

    header .links .icon span {
        background-color: #333;
        margin-bottom: 5px;
        height: 2px;
    }
    header .links .icon span:first-child { width: 100%; }
    header .links .icon span:nth-child(2) { width: 60%; transition: 0.3s; }
    header .links .icon span:last-child { width: 100%; }
    header .links:hover ul {
        display: block;
    }
    header .links ul li a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
}
/*landing*/
.landing{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzwWy2-pexN9yI1sROuWAV_VHe3pHOURFLeA&s") ;
    background-size: cover;
    background-position: center;
    height: 650px;
    position: relative;
}
.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing .text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .text p {
    font-size: 19px;
    line-height: 1.8;
}
.features{
    text-align: center;
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.features .container{
    display:flex;
    gap:20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-bottom: auto;
}
.box{
    padding: 20px;
    text-align: center;
}
.box  i {
    color: var(--main-color);
    font-size: 50px;
    margin-bottom: 20px;
}
.features .box h3 {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 15px 0;
}
.features .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
    padding: 30px 20px;
    max-width: 1000px;
    margin: auto;
}
@media (max-width: 767px) {
    .features .container{
        display: block;
    }
    .features .box p{
        max-width: 1200px;
        font-size: 20px;
    }
}
/*SERVICES*/
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
.services-container {
    max-width: 1100px;
    margin: 0 auto;
}
.header2 {
    text-align: center;
    margin-bottom: 60px;
}

.header2 h1 {
    font-size: 4rem;
    color: #e0e0e0; 
    margin-top: 50px;
    text-transform: uppercase;
    margin-bottom: -15px;
    letter-spacing: 5px;
} 

 .header2 p {
    font-size: 1.1rem;
    color: #555;
    font-weight: 500;
    margin-top: -30px;
} 
.content-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap; 
} 

 .services-grid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
}
.service-item {
    display: flex;
    flex-direction: column;
}

.icon-title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.icon-title i {
    font-size: 1.5rem;
    color: #38b2ac; 
}

.icon-title h3 {
    font-size: 1.2rem;
    color: #222;
}

.service-item p {
    font-size: 0.9rem;
    color: #777;
    text-align: justify;
}
.image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.image-box {
    position: relative;
     width: 250px;
    height: 350px; 
    background-color: #064e57; 
} 

.image-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: -20px;
    right: 20px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
@media (max-width: 992px) {
    .services-grid {
        grid-template-columns: 1fr;
        text-align: center;
        width: 90%;
    }
    .icon-title{
    flex-direction: column;
    justify-content: center;
    }
    .image-section {
        justify-content: center;
        margin-top: 40px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .header2 h1 {
        font-size: 3.5rem;
    }
    .content-wrapper {
    flex-direction: column; 
    }
} 
/*protofolio*/

.portfolio {
    text-align: center;
    padding: 50px 20px;
    margin-top: 50px;
    background-color: #f9f9f9;
}

.portfolio h2 {
    margin-bottom: 10px; 
    font-size: 4.5rem;
        color: #e0e0e0; 
        margin-top: 50px;
        text-transform: uppercase;
        margin-bottom: -30px; 
        letter-spacing: 5px;
}

.tagline {
    font-style: italic;
    font-size: 25px;
    color: #777;
    margin-bottom: 40px;
}

.projects {
    margin-top: 80px;
    display: flex;
    justify-content:center; 
    flex-wrap: wrap;
    gap: 35px;
}

.project {
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    text-align: start;
    line-height: 1.8;
    max-width: 375px;
    padding: 20px;
}
.project img {
    max-width: 100%;
}

.project h3 {
    margin-top: 15px;
    font-size: 20px;
}

.project p {
    color: #555;
}
/*About*/
.an-elmawke3 {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding)+60px);
    text-align: center;
}

.unwan-khalfi {
    font-size: 100px;
    color: #ebeced; 
    font-weight: 800;
    margin: 0;
    letter-spacing: -3px;
}

.gomla-saghira {
    margin-top: -30px;
    color: #797979;
    font-size: 18px;
}

.mohtawa-el-about {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    max-width: 100%;
}
.gozo-el-sura {
    position: relative;
    width: 250px;
    height: 375px;
    margin-bottom: 120px;
}
.borwaz-akhdar {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.borwaz-akhdar::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}

.gozo-el-sura img {
    max-width: 100%;
}
.gozo-el-nass {
    flex-basis: calc(100% - 500px);
}

.nass-tekhin {
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: left;
}

.fasil-khat {
    width: 50%;
    border: 1px solid #10cab7;
    margin-bottom: 30px;
}

.nass-daeif {
    color: #777;
    line-height: 1.8;
    text-align: left;
}
@media (max-width: 991px) {
    .mohtawa-el-about {
        flex-direction: column;
        align-items: center;
    }
    .gozo-el-nass {
        flex-basis: 100%;
        margin-top: 100px;
        padding: 0 20px;
    }
    .gozo-el-sura {
        margin-bottom: 50px;
    }
}
/*contact*/

.contact-section {
    background-color: var(--section-background);
    margin-top: 30PX;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 80px 20px 40px;
    height: 450px;
    width: 100%;
}

.contact-content h2 {
    margin-bottom: 50px; 
    font-size: 5rem;
        color: #e0e0e0;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

.contact-subtitle {
    font-size: 20px;
    color: #121111;
    margin-top: -90px;

}

.contact-text {
    font-size: 18px;
    color: #111;
    margin-bottom: 10px;
    margin-top: 60px;
}

.contact-email {
    color: #00b894;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.contact-email:hover {
    text-decoration: underline;
}

.social-text {
    font-size: 14px;
    margin-top: 15px;
    color: #666;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #333;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s;
}
/*FOOTER*/
.social-icons a:hover {
    color: #00b894;
}
.main-footer { 
        background-color: #2c3e50;
        color: white; 
        padding: 30px;
        text-align: center; 
        font-size: 18px; 
}
.main-footer span { color: #10cab7;
    font-weight: bold; 
}
@media (max-width: 767px) {
    .contact-info h3, .email-link { font-size: 20px; }
    .bg-text { font-size: 60px; }
}