* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial;
}
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 100;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #eee;
}

.logo img {
    width: 100px;
    margin-bottom: 30px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: #eaedf2;
    transition: 0.3s;
}
a:hover {
    color: rgb(5, 82, 145);
}
.form {
    margin-left: 20px;
    color: rgb(243, 237, 237);
    font-size: 18px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.landing {
    background: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/landing.jpg")
    no-repeat center center/cover;
    height: 100vh;
    width: auto;
    color: white;
    position: relative;
}
.hero .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.hero-text {
    max-width: 500px;
    background-color: rgba(25, 200, 250, 0.3);
    padding: 30px;
    margin-top: 80px;
}

.hero-text h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.hero-text p {
    line-height: 1.6;
    font-size: 14px;
}
@media (min-width: 992px) {
    .nav-links {
        gap: 20px;
    }
}

@media (max-width: 991px) {
    .nav-links {
        gap: 15px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
header .container {
        display: block;
        flex-direction: column;
        align-items: flex-start;
    }
.hero-text {
    margin: 50px auto;
    width: 90%;
    font-size: 14px;
    }
}

.services-section {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 50;
    text-decoration: underline;
    margin-bottom: 20px;
    padding-bottom: 2px;
}
p {
    text-align: center;
    color: #a39f9f;
}
.features {
    background-color: #f6f6f6;
    padding: 60px 20px;
    text-align: center;
}
.features .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}
.features .box {
    flex: 1;
    min-width: 280px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    transition: 0.3s;
}

.features .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #ccc;
}
.features .box h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(43, 192, 230);
}

.features .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.6;
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/design-features.jpg")
        no-repeat center center/cover;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 143, 224, 0.3);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image {
    text-align: center;
}
@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}
.design .image img {
    position: relative;
    bottom: -150px;
}
.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li {
    padding: 15px 0;
}
.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
.portfolio-section {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 50;
    text-decoration: underline;
    margin-bottom: 20px;
    padding-bottom: 2px;
}
p {
    text-align: center;
    color: #a39f9f;
    margin-bottom: 60px;
}
.text2 {
    justify-content: center;
    font-size: 15px;
    font-weight: thin;
    display: flex;
    gap: 15px;
    margin: auto;
    padding: 15px;
}
.text2 .box {
    background-color: rgb(20, 134, 210);
    color: #f6f6f6;
    height: 40px;
    width: 40px;
    align-content: center;
    padding: 10px;
    position: relative;
    top: -10px;
}
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 70px;
}
.portfolio .imgs-container .box {
    overflow: hidden;
    position: relative;
}
.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
.portfolio .imgs-container .box {
    flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
.portfolio .imgs-container .box {
    flex-basis: 25%;
}
}
.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
    color: aqua;
}
.more {
    margin-top: 50px;
    background-color: rgb(20, 134, 210);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
.video {
    position: relative;
    margin-bottom: 70px;
}
.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
    .video video {
    width: 100%;
    }
.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: rgb(86, 149, 191, 0.5);
    color: white;
    text-align: center;
}
.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}
.video .text p {
    margin-bottom: 30px;
}
.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 2px;
    text-transform: uppercase;
}
.main-heading h2 {
    text-decoration: underline;
}
.main-heading p {
    margin-top: 40px;
}
.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 767px) {
.about img {
    bottom: -60px;
    margin-top: -60px;
}
}
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/stats.png");
    background-size: cover;
    position: relative;
    margin-top: -30px;
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
@media (max-width: 767px) {
.stats .container .box {
    flex-basis: 100%;
}
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}
.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.stats .container .box p {
    font-size: 14px;
}
.our-skills {
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
.our-skills .container > div {
    flex-basis: 45%;
    }
}
.our-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.our-skills .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.our-skills .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width: 767px) {
.our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
}
.our-skills .testimonials .content img {
    margin: 0 auto 20px;
}
}
.our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #d0c8c8;
    border-radius: 50%;
    margin-right: 10px;
}
.our-skills .testimonials .bullets li.active {
    background-color: rgb(201, 210, 212);
    border-color: rgb(187, 201, 205);
}
.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
    background-color: rgb(20, 160, 220);
    height: 30px;
}
.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}
.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/quote.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.quote p {
    color: #f6f6f6;
    font-size: 30px;
}
.quote .container {
    position: relative;
}
.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
.main-heading {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plans .plan {
    background-color: white;
    text-align: center;
}
.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid rgb(17, 185, 241);
    border-bottom: 1px solid rgb(17, 185, 241);
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
}
.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}
.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}
.pricing .plans .plan ul {
    list-style: none;
    border-bottom: 1px solid rgb(17, 185, 241);
}
.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: rgb(17, 185, 241);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plans .plan .foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid rgb(17, 185, 241);
    color: blue;
    width: fit-content;
    margin: 30px auto;
}
.pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
    color: black;
}
.pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: rgb(17, 185, 241);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}
.subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
}
.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
.subscribe .container {
        flex-direction: column;
}
}
.subscribe p {
    color: #f6f6f6;
}
.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.subscribe form input[type="email"] {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
    width: 130px;
    background-color: rgb(17, 185, 241);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
    outline: none;
}
.subscribe form ::placeholder {
    color: white;
}
.subscribe p {
    line-height: 2;
    margin-left: 50px;
}
@media (max-width: 991px) {
.subscribe p {
    margin: 30px 0 0;
}
}
.contact {
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
.contact .content {
    flex-direction: column;
}
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content form .main-input:focus {
    outline: none;
}
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form input[type="submit"] {
    background-color: #11b9f1;
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
.contact .content .info {
    order: -1;
    text-align: center;
}
}
.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}
input,
textarea,
button {
    cursor: pointer;
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
@media (max-width: 767px) {
.contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
}
}
.contact .content .info address {
    color: #777;
    line-height: 2;
}
@media (max-width: 767px) {
.contact .content .info address {
    margin-bottom: 40px;
}
}
.footer {
    padding-top: calc(50px / 2);
    padding-bottom: calc(50px / 2);
    background-image: url("https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.footer .container {
position: relative;
}
.footer img {
margin-bottom: 20px;
}
.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}
.footer .social-icons i {
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 18px;
}
.footer .copyright {
    margin-top: 60px;
}
.footer .copyright span {
    font-weight: bold;
    color: #11b9f1;
}
